@model WebEminari.Web.ViewModels.Comments.CommentEditModel
@{ ViewData["Title"] = "Editing comment #" + Model.Id; }

<div class="container pb-3">
    <div class="card card-style-80-rem">

        <div class="card-body text-center">
            <h5 class="card-title">@Model.WebEminarTitle</h5>
            <hr />
            <p class="card-text mb-2">@Html.Raw(@Model.WebEminarDescription)</p>

            <div class="card-text">
                <div>
                    <small class="text-muted">Date created - <time datetime="@Model.CreatedOn.ToString("O")">@Model.CreatedOn.ToString("g")</time></small>
                </div>
            </div>
            <div class="mt-3">
                <a asp-controller="WebEminars" asp-action="Details" asp-route-id="@Model.WebEminarId" class="btn btn-sm btn-outline-dark">
                    <i class="fas fa-info"></i> Details
                </a>
            </div>
        </div>
        <div class="card-body">
            <h5>Коментар</h5>
            <hr />
            <form asp-controller="Comments" asp-action="Edit" method="post">
                <input type="hidden" value="@Model.Id" asp-for="@Model.Id" class="form-control" />
                <input type="hidden" value="@Model.ApplicationUserId" asp-for="@Model.ApplicationUserId" class="form-control" />
                <div class="form-group">
                    <label asp-for="@Model.Content"></label>
                    <textarea asp-for="@Model.Content" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Content" class="text-danger"></span>
                </div>
                <input type="submit" name="submit" value="Save" class="btn btn-sm btn-outline-success" />
                <a asp-controller="WebEminars" asp-action="Details" asp-route-id="@Model.WebEminarId" class="btn btn-sm btn-outline-dark">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>
    <script>const player = new Plyr('#player');
        window.player = player;</script>
}
