@model WebEminari.Web.ViewModels.WebEminars.WebEminarsListViewModel
@using System.Text.RegularExpressions;
@{
    this.ViewData["Title"] = "WebEminars";
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<h1>@this.ViewData["Title"]</h1>
<hr />
<center>
    <form asp-controller="WebEminars" asp-action="All" method="get">
        <div class="col-md-6">
            <div class="input-group input-group-lg">
                <input type="text" id="" name="SearchString" class="form-control" placeholder="What search?" />
                <select class="form-control form-control-lg rounded-0" asp-for="@Model.CategoryId" asp-items="categoryItems">
                    <option value="0">All</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" value="Filter"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </form>
    <br />  
    <form action="All" method="get">
        <button name="stateFilter" value="Kachen" asp-action="All">Kachen</button>
        <button name="stateFilter" value="Izminal" asp-action="All">Izminal</button>
        <button name="stateFilter" value="Available" asp-action="All">Available</button>
    </form>
</center>
<br />
<div class="row">
    @foreach (var webEminar in this.Model.WebEminars)
    {
        <div class="card col-md-4">
            <h5 class="card-title text-center">
                <a asp-action="Details" asp-route-id="@webEminar.Id">
                    @webEminar.Title
                </a>
            </h5>
            @if (webEminar.ImageName != null)
            {
                <img class="card-img-top" src="~/Images/@webEminar.ImageName" width="100" height="300" alt="Card image cap">
            }
            else
            {
                <img class="card-img-top" src="@webEminar.ThumbnailUrl" width="100" height="300" />
            }
            <div class="card-body">
                <p class="card-text text-center">@webEminar.CategoryName</p>
                @if (webEminar.ImageName != null && webEminar.DateTime >= DateTime.UtcNow)
                {
                    <p class="card-text text-center"><small class="text-muted">@webEminar.DateTime.ToShortDateString() @webEminar.DateTime.ToShortTimeString()</small></p>
                }
                else if (webEminar.ImageName == null)
                {
                    <p class="card-text text-center"><small class="text-muted">Качен</small></p>
                }
                else
                {
                    <p class="card-text text-center"><small class="text-muted">Izminal</small></p>
                }
            </div>
        </div>
    }
</div>
<partial name="_PagingPartial" model="@Model" />
