@model WebEminarViewModel
@{
    this.ViewData["Title"] = Model.Title;
    int maxStars = 5;
    bool isLoggedIn = User.Identity.IsAuthenticated;
    bool userCanBook = isLoggedIn && !Model.UsersBooked.Contains(User.Identity.Name);
}

<p>От: @Model.AddedByUserFirstName @Model.AddedByUserLastName</p>
<ul class="item-rating">
    @for (int i = 1; i <= (int)Model.AverageVote; i++)
    {
        <li class="star-fill" data-vote="@i"><i class="fas fa-star"></i></li>
    }
    @for (int i = 1; i <= maxStars - (int)Model.AverageVote; i++)
    {
        <li data-vote="@i"><i class="fas fa-star"></i></li>
    }

    <li>
        <span style="padding-left: 5px;" id="averageVoteValue">
            @if (Model.AverageVote % 1 == 0)
            {
                @Model.AverageVote
            }
            else
            {
                @Model.AverageVote.ToString("0.0")
            }
        </span><span> / @maxStars</span>
    </li>
</ul>
<br />
<br />
<center>
    <h1>@Model.Title</h1>
    <img src="~/Images/@Model.ImageName" width="400" asp-append-version="true" />
    <p style="font-size: 20px">@Model.Description</p>
</center>
<h4>Дата: @Model.DateTime.ToShortDateString()</h4>
<h4>Час: @Model.DateTime.ToShortTimeString()</h4>
<h4>Час: @Model.CategoryName</h4>
@if (isLoggedIn)
{
    <h4>Meet Link: @Model.MeetLink</h4>
}
<h4>Aveilable bookings: @Model.MaxPeople</h4>
<style>
    ul li.star-fill i {
        color: orange;
    }

    ul {
        list-style-type: none;
        float: right;
    }

    li {
        list-style-type: none;
        float: left;
    }
</style>
@if (userCanBook)
{
<form method="post" id="antiForgeryForm" asp-action="BookForEvent">
    <input type="hidden" name="EventId" value="@Model.Id" />

    <button class="btn btn-primary">Book for Event</button>
</form>
}


@section Scripts {
    <script>

            $("li[data-vote]").each(function (el) {
                $(this).click(function () {
                    var value = $(this).attr("data-vote");
                    var webEminarId = @Model.Id;
                    var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                    var data = { webEminarId: webEminarId, value: value };
                    $.ajax({
                        type: "POST",
                        url: "/api/Votes",
                        data: JSON.stringify(data),
                        headers: {
                            'X-CSRF-TOKEN': antiForgeryToken
                        },
                        success: function (data) {
                            $('#averageVoteValue').html(data.averageVote % 1 == 0 ? data.averageVote : data.averageVote.toFixed(1));
                        },
                        contentType: 'application/json',
                    });
                })
            });
    </script>
}

