@model IEnumerable<WebEminari.Data.Models.WebEminar>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="CreateWithVideo">Create Video</a>
</p>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Image
            </th>
            <th>
                Description
            </th>
            <th>
                MeetLink
            </th>
            <th>
                DateTime
            </th>
            <th>
                CreatedOn
            </th>
            <th>
                ModifiedOn
            </th>
            <th>
                Buttons
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.Model)
        {
            <tr class="Search">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (item.ImageName != null)
                    {
                        <img src="~/Images/@item.ImageName" class="rounded-circle" width="40" height="40" asp-append-version="true" />
                    }
                    else
                    {
                        <img src="@item.ThumbnailUrl" class="rounded-circle" width="40" height="40" asp-append-version="true" />
                    }

                </td>
                <td>
                    @Html.Raw(item.Description.Substring(0, item.Description.Length >= 30 ? 30 : item.Description.Length))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-info" asp-action="ById" asp-route-id="@item.Id">Details</a>
                        <form asp-action="Delete" asp-route-id="@item.Id">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
</script>