@using WebEminari.Common
@using System.Text.RegularExpressions;
@model WebEminari.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Name"] = "Home Page";
    var topFiveWebEminars = this.Model.Webinars.Where(x => x.ImageName != null).OrderByDescending(x => x.AverageVote).ToList();
    var topFiveKacheniWebEminars = this.Model.KacheniWebinars.Where(x => x.Video != null).OrderByDescending(x => x.AverageVote).ToArray();
}
<style>
    :root {
        --color-one: #e6e6ff;
        --color-two: #1a1aff;
        --color-three: #b3b3ff;
    }

    card-title {
        font-size: 5px;
    }

    ul li.star-fill i {
        color: orange;
    }

    ul.stars {
        position: relative;
        margin-left: -20px;
        margin-bottom: 10px;
    }

    li {
        list-style-type: none;
        float: left;
    }

    .card {
        border: 1px solid var(--color-three);
        margin-bottom: 20px;
        transition: border 0.1s, transform 0.3s;
    }

        .card:hover {
            border: 1px solid var(--color-two);
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            cursor: pointer;
        }

        .card .card-body h2 {
            color: var(--color-two);
        }

        .card img:hover {
            opacity: 0.6;
        }

    .card-p {
        color: var(--color-three);
    }

        .card-p i {
            color: var(--color-two);
            margin-right: 8px;
        }

    #app {
        width: 100%;
        height: 100%;
        max-width: 1080px;
        min-height: 460px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
</style>
    <header class="site-header">
        <div class="container">
            <div class="site-header-inner">
                <div class="brand header-brand">
                    <h1 class="m-0">
                        <a href="#">
                            <img class="header-logo-image asset-light" src="~/staticImages/logo-light.svg" alt="Logo">
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-inner">
                    <div class="hero-copy">
                        <h1 class="hero-title mt-0">Намери или създай уебинар :)</h1>
                        <p class="hero-paragraph">Webinars e интернет приложение целящо създаването и разпространяването на уебинари.</p>
                        <div class="hero-cta">
                            <a asp-controller="WebEminars" asp-action="Create" class="button button-primary">Създай сега</a>

                        </div>
                    </div>
                    <div class="hero-media">
                        <div class="header-illustration">
                            <img class="header-illustration-image asset-light" src="~/staticImages/header-illustration-light.svg" alt="Header illustration">
                        </div>
                        <div class="hero-media-illustration">
                            <img class="hero-media-illustration-image asset-light" src="~/staticImages/hero-media-illustration-light.svg" alt="Hero media illustration">
                        </div>
                        <div class="hero-media-container">
                            <img class="hero-media-image asset-light" src="https://elearningindustry.com/wp-content/uploads/2020/06/webinar-based-training-and-helpful-strategies.jpg" alt="Hero media">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h4 style="text-align: center;margin-top: 200px;">Топ 3 рандом семинара</h4>
        <br />
        <div class="row" style="margin-left: 50px;margin-right: 50px">
            @foreach (var webEminar in this.Model.RandomWebEminars)
            {
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" asp-controller="WebEminars" asp-action="Details" asp-route-id="@webEminar.Id">
                    <div class="card shadow">
                        @if (webEminar.ImageName != null)
                        {
                            <img src="~/Images/@webEminar.ImageName" alt="Card image cap">
                        }
                        else
                        {
                            <img class="card-img-top" src="@webEminar.ThumbnailUrl" width="100" height="300" />
                        }
                        <div class="card-body">
                            @{

                                string GetTitle(int length, string title)
                                {
                                    if (length >= 23)
                                    {

                                        title = title.Remove(20);
                                        title += "...";
                                        return title;

                                    }
                                    else
                                    {
                                        return title;
                                    }
                                }

                            }
                            <h2 style="font-size: 30px" class="card-title">@GetTitle(webEminar.Title.Length, webEminar.Title)</h2>
                            <p>@webEminar.CategoryName</p>
                            @{
                                Regex regex2 = new Regex("<.*?>|&.*?;", RegexOptions.Singleline);
                                var x = webEminar.Description;

                                string Decription = regex2.Replace(x, " ").Trim();
                            }
                            <p class="card-text">@Decription.Substring(0, 80)</p>
                        </div>
                        <div class="card-body card-p">
                            <div class="row">
                                <div class="col col-xs-4 ">
                                    <i class="far fa-comments"></i> @webEminar.CommentsCount
                                </div>
                                <div class="col col-xs-4 ">
                                    <i class="far fa-heart"></i> @webEminar.LikesCount
                                </div>
                                <div class="col col-xs-4">
                                    <i class="far fa-star"></i> @webEminar.AverageVote
                                </div>
                            </div>
                        </div>
                        <a asp-controller="WebEminars" asp-action="Details" asp-route-id="@webEminar.Id" class="btn btn-primary">Read more</a>
                    </div>
                </div>


            }

        </div>



        <div style="display: none">

            <p id="title1">@topFiveWebEminars[0].Title</p>
            <p id="title2">@topFiveWebEminars[1].Title</p>
            <p id="title3">@topFiveWebEminars[2].Title</p>


        </div>
        <br /> <br /> <br /> <br /> <br /> <br />
        <h4 style="text-align: center">Топ 3 уеб семинарa</h4>
        <div id="app">
            <div class="slider" id="swipe-box">
                <div class="slider__wrapper" v-bind:style="computed_left">
                    <div class="slider__wrapper__item" v-for="(quote, id) in quotes" v-bind:class='{now_item: id==now_index}'>
                        <div class="cover" v-bind:style="bg_url(quote.cover)">
                            <div class="info">
                                <h2>
                                    <span v-cloak>{{quote.title}}</span>
                                </h2>
                                <h5><span v-cloak>— {{quote.author}}</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow-left" v-on:click="now_id(-1)">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </div>
            <div class="arrow-right" v-on:click="now_id(1)">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
        </div>
        <br /> <br /> <br />
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css'>
        <h4 style="text-align: center">Топ 3 качени уеб семинарa</h4>
        <div class="options" style="margin-left: 280px">
            <div class="option active" style="--optionBackground:url(@topFiveKacheniWebEminars[0].ThumbnailUrl);">
                <div class="shadow"></div>
                <div class="label">
                    <img class="icon" src="/ProfileImages/@topFiveKacheniWebEminars[0].AddedByUserImagePath" alt="Alternate Text" />
                    <div class="info">
                        <div class="main">@topFiveKacheniWebEminars[0].Title</div>
                        <div class="sub">@topFiveKacheniWebEminars[0].CategoryName</div>
                    </div>
                </div>
            </div>
            <div class="option" style="--optionBackground:url(@topFiveKacheniWebEminars[1].ThumbnailUrl);">
                <div class="shadow"></div>
                <div class="label">
                    <img class="icon" src="/ProfileImages/@topFiveKacheniWebEminars[1].AddedByUserImagePath" alt="Alternate Text" />
                    <div class="info">
                        <div class="main">@topFiveKacheniWebEminars[1].Title</div>
                        <div class="sub">@topFiveKacheniWebEminars[1].CategoryName</div>
                    </div>
                </div>
            </div>
            <div class="option" style="--optionBackground:url(@topFiveKacheniWebEminars[2].ThumbnailUrl);">
                <div class="shadow"></div>
                <div class="label">
                    <img class="icon" src="/ProfileImages/@topFiveKacheniWebEminars[2].AddedByUserImagePath" alt="Alternate Text" />
                    <div class="info">
                        <div class="main">@topFiveKacheniWebEminars[2].Title</div>
                        <div class="sub">@topFiveKacheniWebEminars[2].CategoryName</div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <section class="cta section">
            <div class="container-sm">
                <div class="cta-inner section-inner">
                    <div class="cta-header text-center">
                        <h1 class="section-title mt-0">Искаш да се вклучиш към някой екип ?</h1>
                        <p class="section-paragraph">Разгледаи направените в нашият сайт организации :)</p>
                        <div class="cta-cta">
                            <a class="button button-primary" asp-controller="Organization" asp-action="All">Сега</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
@section Scripts{
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
    <script src='https://hammerjs.github.io/dist/hammer.js'></script>
    <script>
        var title1 = document.getElementById('title1').innerHTML;
        var title2 = document.getElementById('title2').innerHTML;
        var title3 = document.getElementById('title3').innerHTML;
        var quotes = [
            {
                title: title1,
                author: '@topFiveWebEminars[0].AddedByUserFirstName ' + '@topFiveWebEminars[0].AddedByUserLastName',
                cover: 'https://localhost:44311/Images/'+'@topFiveWebEminars[0].ImageName'
            },
            {
                title: title2,
                author: '@topFiveWebEminars[1].AddedByUserFirstName ' + '@topFiveWebEminars[1].AddedByUserLastName',
                cover: 'https://localhost:44311/Images/'+'@topFiveWebEminars[1].ImageName'
            },
            {
                title: title3,
                author: '@topFiveWebEminars[2].AddedByUserFirstName ' + '@topFiveWebEminars[2].AddedByUserLastName',
                cover: 'https://localhost:44311/Images/'+'@topFiveWebEminars[2].ImageName'
            }
        ];

        var app = new Vue({
            el: '#app',
            data: {
                now_index: 0,
                quotes: quotes,
                space: 100
            },
            mounted: function () {
                var obj = this;
                var slideCount = obj.quotes.length;
                var sliderManager = new Hammer.Manager(document.querySelector('.slider'));
                sliderManager.add(new Hammer.Pan({ threshold: 0, pointers: 0 }));
                sliderManager.on('pan', function (e) {
                    var percentage = 100 / slideCount * e.deltaX / window.innerWidth;
                    if (e.isFinal) {
                        if (percentage < 0) {
                            obj.now_id(1);
                        }
                        else if (percentage > 0) {
                            obj.now_id(-1);
                        }
                        else {
                            obj.now_id(0);
                        }
                    }
                });
            },
            computed: {
                computed_left() {
                    var toLeft = {
                        "left": (-this.space * this.now_index) + "%"
                    };
                    return toLeft;
                }
            },
            methods: {
                now_id(d) {
                    this.now_index = (this.now_index + d + this.quotes.length) % this.quotes.length
                },
                bg_url(url) {
                    return {
                        "background-image": "url(" + url + ")"
                    }
                }
            }
        });
    </script>
    <script>
        $(".option").click(function () {
            $(".option").removeClass("active");
            $(this).addClass("active");

        });
    </script>
}