@model IEnumerable<WebEminari.Data.Models.WebEminar>

@{
    ViewData["Title"] = "Качени семинари";
}

                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Качени семинари</h6>
                        </div>

                        <div class="card-body">
                            <a style="margin-bottom: 20px" class="btn btn-primary" asp-action="CreateWithVideo">Create</a>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Title</th>
                                            <th>Image</th>
                                            <th>Is Deleted</th>
                                            <th>CreatedOn</th>
                                            <th>ModifiedOn</th>
                                            <th>Buttons</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in this.Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    <img src="@item.ThumbnailUrl" class="rounded-circle" width="40" height="40" asp-append-version="true" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IsDeleted)
                                                </td>
                                                <td>
                                                    <time datetime="@item.CreatedOn.ToString("O")">@item.CreatedOn.ToString("g")</time>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <a class="btn btn-dark" asp-action="EditWithVideo" asp-route-id="@item.Id">Edit</a>
                                                        <a class="btn btn-info" asp-area="" asp-controller="WebEminars" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Hard</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->