@model WebEminari.Data.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>

        <div class="card-body">

            <h4>Категория</h4>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="offset-md-3 col-md-6 text-center">
                        @Html.DisplayNameFor(model => model.Name)
                        <br />
                        @Html.DisplayFor(model => model.Name)
                        <br />
                        @Html.DisplayNameFor(model => model.IsDeleted)
                        <br />
                        @Html.DisplayFor(model => model.IsDeleted)
                        <br />
                        @Html.DisplayNameFor(model => model.DeletedOn)
                        <br />
                        @Html.DisplayFor(model => model.DeletedOn)
                        <br />
                        @Html.DisplayNameFor(model => model.CreatedOn)
                        <br />
                        @Html.DisplayFor(model => model.CreatedOn)
                        <br />
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                        <br />
                        @Html.DisplayFor(model => model.ModifiedOn)
                    <br />
              
                        <a asp-action="Index" class="btn btn-sm btn-outline-dark float-left"><i class="fas fa-arrow-left"></i> Back to all</a>
               
                    </div>
</div>
</div>
</div>